/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}

/* App Styles */
.container{
  height: 100vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
}

/* Top */
.top{
  background: red;
  flex-grow: 1;
  display: flex;
}
/* Side-bar */
.sidebar{
  flex-basis: 230px;
  display: flex;
  flex-direction: column;
  background: green;
}
.sidebar-top{
  flex-grow: 1;
  background: #ccc;
}
.sidebar-bottom{
  height: 80px;
  background: #888;
}
/* Scrollable */
.nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(100, 50, 0, 0.5);
  z-index: 1;
}
.general-text .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #000;
  padding: 90px 15px 30px;
}
/* General */
.general-text{
  position: relative;
  background: #444;
  flex-grow: 1;
}
.general-menu{
  height: 90px;
  background: #222;
}
.general-category{
  /*height:400px;*/
  margin-bottom: 30px;
}
.album-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.album-list .album{
  flex-basis: calc(100% / 6 - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid red;
  height: 200px;
  background: #ccc;
}

/* bottom */
.bottom{
  height: 80px;
  background: #333;
  display: flex;
  justify-content: space-between;
}
/* Col-bottom */
.col-left,
.col-center,
.col-right{
  height: 80px;
  background: #666;
}
.col-left{
  flex-basis: 230px;
}
.col-center{
  flex-basis: 40%;
}
.col-right{
  flex-basis: 230px;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .sidebar{
    flex-basis: 60px;
  }
}
