/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  color: #fff;
}
a{
  color:#fff;
  text-decoration: none;
  font-size: 14px;
}
.text-center{
  text-align: center;
}
.mb{
  margin-bottom: 30px;
}
/* App Styles */
.container{
  height: 100vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
}
.playlist{
  margin: 20px;
}

/* Top */
.top{
  background: red;
  flex-grow: 1;
  display: flex;
}
/* Side-bar */
.sidebar{
  flex-basis: 230px;
  display: flex;
  flex-direction: column;
  background: #000000;
}
.sidebar-top{
  flex-grow: 1;
}
.logo{
  max-width: 180px;
  padding: 15px;
}
.sidebar-top ul li a i{
  font-size: 24px;
  margin: 10px 20px;
}
.sidebar-bottom{
  height: 80px;
}
.playlist ul li{
  list-style: none;
  padding: 10px 0;
  font-size: 14px;
}
.playlist-bold{
  font-size: 20px;
  margin: 25px 0 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.playlist .fa-plus-square{
  font-size: 28px;
  padding: 0;
  margin:0;
  margin-right: 20px;
}
.installa-app i,
.installa-app a{
  color: #666666;
}
.installa-app{
  border-bottom: 1px solid #666666;
}
.fa-arrow-alt-circle-down{
  font-size: 18px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.fa-user-circle{
  padding-right: 10px;
  margin-top: 10px;
  font-size: 26px;
}
/* Scrollable */
.nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background:rgba(8, 11, 17, 0.5);
  z-index: 1;
}
.btn{
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 25px;
  margin: 20px;
  padding: 10px 30px;
  color:#fff;
  background: #080b11;
  border-color: #fff;
}
.general-text .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #141921;
  padding: 90px 15px 30px;
}
/* General */
.general-text{
  position: relative;
  background: #444;
  flex-grow: 1;
}
.general-menu{
  height: 90px;
  background: #141921;
  margin-bottom: 10px;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.general-menu ul li{
  font-size: 14px;
  margin-top: 40px;
  list-style: none;
  text-transform: uppercase;
  color: #666666;
  padding: 15px;
}
.general-category{
  margin-bottom: 70px;
}
.general-category h2{
  margin-bottom: 10px;
}
.general-category span{
  color: #666666;
}
.album-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.album-list .album {
  flex-basis: calc(100% / 6 - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  height: 200px;
}
.album-list h4{
  margin-bottom: 10px;
}
.album-list small{
  color: #666666;
}
.album-list .album img{
  max-width: 100%;
}
.circle{
  border-radius: 50%;
}

/* bottom */
.bottom{
  height: 80px;
  background: #272727;
  display: flex;
  justify-content: space-between;
}
/* Col-bottom */
.col-left,
.col-center,
.col-right{
  height: 80px;
}
.col-left{
  flex-basis: 230px;
  display: flex;
}
.col-center{
  flex-basis: 40%;
}
.col-right{
  flex-basis: 230px;
}
/* col-left */
.col-left img{
  max-height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}
.col-left h6{
  font-size: 14px;
  color:#fff;
}
.col-left small{
  font-size: 12px;
  color: #666666;
}
.col-left h6,
.col-left small{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.col-left a{
  font-size: 16px;
  color: #666666;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* col-center */
.music-menu{
  border-bottom: 3px solid #666666;
}
.music-menu ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.music-menu ul li a i{
  padding: 10px;
  font-size: 18px;
}
/* col-right */
.col-right ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.col-right ul li a i{
  padding: 10px;
  font-size: 18px;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .sidebar{
    flex-basis: 60px;
  }
}
