/* General */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  color: #fff;
}
a{
  color:#fff;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
span{
  font-size: 14px;
  color: #666666;
}
span:hover{
  color: #fff;
}
.text-center{
  text-align: center;
}
.mb{
  margin-bottom: 30px;
}

/* App Styles */
.container{
  height: 100vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
}
.playlist{
  margin: 20px;
}

/* Top */
.top{
  background: red;
  flex-grow: 1;
  display: flex;
}
/* Side-bar */
.sidebar{
  flex-basis: 230px;
  display: flex;
  flex-direction: column;
  background: #000000;
}
.sidebar-top{
  flex-grow: 1;
}
.logo{
  max-width: 170px;
  padding: 15px;
}
.sidebar-top ul li a i{
  font-size: 24px;
  margin: 10px 20px;
  color: #666666;
}
.sidebar-top ul li a{
  color: #666666;
}
.sidebar-top ul li a:hover{
  color: #fff;
  transition: .2s;
}
.sidebar-top ul li:hover{
  color: #fff;
  cursor: pointer;
}
.sidebar-top ul li a i:hover{
  color: #fff;
  transition: .2s;
  transform: scale(1.2);
}
.sidebar-bottom{
  height: 80px;
}
.playlist ul li{
  list-style: none;
  padding: 10px 0;
  font-size: 14px;
  color: #666666;
}
.playlist-bold{
  font-size: 20px;
  margin: 25px 0 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.playlist .fa-plus-square{
  font-size: 38px;
  padding: 0;
  margin:0;
  margin-right: 20px;
}
.installa-app i,
.installa-app a{
  color: #666666;
}
.installa-app{
  border-bottom: 1px solid #666666;
}
.fa-arrow-alt-circle-down{
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.fa-user-circle{
  padding-right: 10px;
  margin-top: 10px;
  font-size: 26px;
}
/* Scrollable */
.nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background:rgba(8, 11, 17, 0.5);
  z-index: 1;
}
.btn{
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 25px;
  margin: 20px;
  padding: 10px 30px;
  color:#fff;
  background: #080b11;
  border-color: #fff;
}
.general-text .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #141921;
  padding: 90px 15px 30px;
}
/* General */
.general-text{
  position: relative;
  background: #444;
  flex-grow: 1;
}
.general-menu{
  height: 90px;
  background: #141921;
  margin-bottom: 10px;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.general-menu ul li{
  margin-top: 40px;
  list-style: none;
}
.general-menu ul li a{
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
  padding: 15px;
}
.general-menu ul li a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #acfe2e;
  transition: .3s ease-in-out;
}
.general-menu ul li a:hover:after,
.general-menu ul li a:focus:after {
  width: 40%;
  margin: 0 auto;
}
.general-category{
  margin-bottom: 70px;
}
.general-category h2{
  margin-bottom: 10px;
}
.general-category span{
  color: #666666;
}
.album-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.album-list .album {
  flex-basis: calc(100% / 6 - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  height: 200px;
}
.album-list h4{
  margin-bottom: 10px;
}
.album-list small{
  color: #666666;
}
.album-list .album img{
  max-width: 100%;
}
.circle{
  border-radius: 50%;
}

/* bottom */
.bottom{
  height: 80px;
  background: #272727;
  display: flex;
  justify-content: space-between;
}
/* Col-bottom */
.col-left,
.col-center,
.col-right{
  height: 80px;
}
.col-left{
  flex-basis: 230px;
  display: flex;
}
.col-center{
  flex-basis: 40%;
}
.col-right{
  flex-basis: 230px;
}
/* col-left */
.pic-left img{
  max-height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}
.name-song{
  margin-top: 20px;
  padding: 10px;
}
.name-song h6{
  font-size: 14px;
  color:#fff;
}
.name-song small{
  font-size: 12px;
  color: #666666;
}
.col-left a{
  font-size: 16px;
  color: #666666;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* col-center */
.music-menu ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.music-menu ul li a:hover{
  color:#acfe2e;
}
.music-menu ul li a i{
  padding: 10px;
  font-size: 18px;
}
/* Line-player center */
.line-player{
  display: flex;
}
.line{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  height: 2px;
  border:3px solid #535353;
  background-color: #535353;
  border-radius: 5px;
  position: relative;
}
.line:hover .layover-player{
  opacity: 1;
  cursor: pointer;
}
.line:hover .player-circle{
  opacity: 1;
  cursor: pointer;
}
.line::before{
  content: '';
  display: block;
  width: 40%;
  border: 3px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: -3px;
  left: -3px;
}
/* Player-circle */
.layover-player{
  width: 40%;
  border: 3px solid #acfe2e;;
  border-radius: 5px;
  position: absolute;
  top: -3px;
  left: -3px;
  opacity: 0;
}
.player-circle{
  position: absolute;
  top: -7px;
  left: 38%;
  z-index: 2;
  opacity: 0;
}
/* col-right */
.col-right{
  display: flex;
  align-items: center;
}
.col-right ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.col-right ul li a i{
  padding: 10px;
  font-size: 18px;
}
/* Line player right */
.right-line-player{
  width: 60%;
  align-items: center;
}
.line-right{
  width: 80%;
  margin: 0 auto;
  height: 2px;
  border:3px solid #535353;
  background-color: #535353;
  border-radius: 5px;
  position: relative;
}
.line-right::before{
  content: '';
  display: block;
  width: 40%;
  border: 3px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: -3px;
  left: -3px;
}
.line-right:hover .layover-player{
  opacity: 1;
  cursor: pointer;
}
.line-right:hover .player-circle{
  opacity: 1;
  cursor: pointer;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .sidebar{
    flex-basis: 60px;
  }
  .logo{
    visibility: hidden;
  }
  .sidebar-top{
    background-image: url('../img/logo-small.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 34px;
    margin-top: 10px;
  }
  .playlist{
    display: none;
  }
  .album-list .album {
    flex-basis: calc(100% / 4 - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    height: 200px;
  }
  .general-menu ul li a {
    font-size: 11px;
    padding: 5px;
  }
  .general-category h2{
    font-size: 18px;
  }
  .album-list h4{
    font-size: 12px;
    margin-bottom: 3px;
  }
  span{
    visibility: hidden;
  }
  .installa-app{
    border: 0;
    height: 30px;
    text-align: center;
  }
  .account{
    text-align: center;
  }
  .fa-arrow-alt-circle-down{
    font-size: 20px;
    margin-right: 0;
  }
  .fa-user-circle{
    font-size: 26px;
    margin-left: 10px;
  }
  .sidebar-bottom{
    height: 100px;
  }
  .name-song {
    margin-top: 30px;
    margin-left: 5px;
    padding:0;
  }
  .line{
    width: 60%;
  }
}
